@use 'config/variables.scss';
@use 'hero';
@use 'shows';

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
}

body {
    background-color: variables.$bgColor;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variables.$fColorPrimary;
}

@mixin title($fontSize: 28px) {
    @include text($fontSize);
    color: variables.$fColorSecondary;
}

.text {
    @include text;

    &--big {
        @include text(18px);
    }

    &--small {
        @include text(12px);
    }
}
.title {
    @include title(40px);

    &--big {
        @include title(44px);
    }

    &--small {
        @include title();
    }
}
.link-text {
    @include text(18px);
    color: variables.$fColorSecondary;
    text-decoration: underline;
}